<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="cn.linshio.Dao.UserDaoImpl"/>

    <bean id="userService" class="cn.linshio.cn.linshio.annotation.service.UserServiceImpl" autowire="byType"/>

    <bean id="userController" class="cn.linshio.cn.linshio.annotation.controller.UserController" autowire="byName">
        <!--        <property name="userService" ref="userService"/>-->
    </bean>
</beans>