<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linshio.mapper.SelectMapper">
    <select id="getUserById" resultType="cn.linshio.pojo.User">
        select *
        from t_user
        where id = #{id};
    </select>

    <select id="getAllUsers" resultType="cn.linshio.pojo.User">
        select *
        from t_user;
    </select>

    <select id="countUser" resultType="int">
        select count(*)
        from t_user;
    </select>

    <select id="getUserByIdToMap" resultType="java.util.Map">
        select *
        from t_user
        where id = #{id};
    </select>

    <select id="getAllUserByMap" resultType="java.util.Map">
        select *
        from t_user;
    </select>
</mapper>